<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="uploadResponse">
            <h2><span jhiTranslate="text2Mp3App.uploadResponse.detail.title">Upload Response</span> {{ uploadResponse.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="text2Mp3App.uploadResponse.uploadedFilePath">Uploaded File Path</span></dt>
                <dd>
                    <span>{{ uploadResponse.uploadedFilePath }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/upload-response', uploadResponse.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
