<div>
    <h2 id="page-heading">
        <span jhiTranslate="text2Mp3App.uploadResponse.home.title">Upload Responses</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-upload-response" [routerLink]="['/upload-response/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="text2Mp3App.uploadResponse.home.createLabel">
            Create a new Upload Response
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="uploadResponses?.length === 0">
        <span jhiTranslate="text2Mp3App.uploadResponse.home.notFound">No uploadResponses found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="uploadResponses?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="text2Mp3App.uploadResponse.uploadedFilePath">Uploaded File Path</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let uploadResponse of uploadResponses ;trackBy: trackId">
                    <td><a [routerLink]="['/upload-response', uploadResponse.id, 'view']">{{ uploadResponse.id }}</a></td>
                    <td>{{ uploadResponse.uploadedFilePath }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/upload-response', uploadResponse.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/upload-response', uploadResponse.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(uploadResponse)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
