<h1 mat-dialog-title class="dialogTitle"><span class="logo-img"><img alt="Please validate the translated text" src="/content/images/LogoBabel2go_small.png" /></span> Translation validation</h1>
<form [formGroup]="validationForm" novalidate></form>
<mat-dialog-content> 
  <mat-card>
  <mat-card-title>INPUT</mat-card-title>
    <p><strong>Input language </strong><fa-icon [icon]="faLanguage"></fa-icon> <mat-chip class="mat-standard-chip mat-chip-language">{{inputLanguageName}}</mat-chip></p>  
    <p><strong>Input text was : </strong></p>
    <p> <i>{{voiceRequestText}}</i></p>
  </mat-card>  
  <mat-card>
    <mat-card-title>OUTPUT</mat-card-title>
    <p><strong>Output language </strong> <fa-icon [icon]="faLanguage"></fa-icon>  <mat-chip class="mat-standard-chip mat-chip-language">{{outputLanguageName}}</mat-chip></p>
    <p><strong>Suggested translation is </strong> <fa-icon [icon]="faSignLanguage"></fa-icon> (please modify if needed and validate)
    <br><br>
    <mat-form-field class="full-width" appearance="outline">
      <textarea class="text-textarea" [(ngModel)]="translatedText" matInput>
        {{translatedText}}
      </textarea>
    </mat-form-field>   
  </mat-card>   
</mat-dialog-content>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel this translation</button>
  <button class="dialogValidate" mat-button (click)="onSubmit()" cdkFocusInitial>Validate</button>
</div>
</form>