<div class="footer">
    <p>Babel2go {{version}} - <span jhiTranslate="footer">Created by</span>  <a href="https://adanet.eu"> <span><fa-icon [icon]="faAudioDescription"></fa-icon></span></a> @2020</p>
</div>
