<nav class="navbar navbar-dark navbar-expand-md bg-dark text2mp3-navbar">
    <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">
        <a href="https://babel2go.adanet.eu" (click)="collapseNavbar()"> 
            <span class="logo-img"><img alt="Babel2go free voice translator" src="/content/images/LogoBabel2go_textedroite120x336.png" /></span>
        </a>
        
        <span class="navbar-title"></span> <span class="navbar-version"></span>
    </a>
    <a class="navbar-toggler d-lg-none" href="javascript:void(0);" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
        <fa-icon [icon]="faBars"></fa-icon>
    </a>
    <li ngbDropdown class="nav-item dropdown pointer" display="dynamic" *ngIf="languages && languages.length > 1">
        <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="languagesnavBarDropdown">
            <span>
                <fa-icon [icon]="faFlag"></fa-icon>
                <span jhiTranslate="global.menu.language">Language</span>
            </span>
        </a>
        <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="languagesnavBarDropdown">
            <li *ngFor="let language of languages">
                <a class="dropdown-item" [jhiActiveMenu]="language" href="javascript:void(0);" (click)="changeLanguage(language);collapseNavbar();">{{ language | findLanguageFromKey }}</a>
            </li>
        </ul>
    </li>
</nav>