<div class="container-fluid">
    <!-- NAVBAR-->
    <jhi-navbar></jhi-navbar>

    <nav mat-tab-nav-bar>
        <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.link" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
            {{link.label}}
        </a>
    </nav>
    <router-outlet></router-outlet>

    <jhi-footer></jhi-footer>
</div>
