<div class="audio-inputMedia mat-elevation-z4">
    <div class="card jh-card">
        <div class="" fxLayout="row" fxLayoutAlign="center center">
            <h3>Translate video</h3>
            <mat-card class="box">
                <mat-card-content>
                </mat-card-content>    
            </mat-card>    
        </div>
    </div>
</div>
