<div>
    <h2 id="page-heading">
        <span jhiTranslate="text2Mp3App.voiceRequest.home.title">Voice Requests</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-voice-request" [routerLink]="['/voice-request/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="text2Mp3App.voiceRequest.home.createLabel">
            Create a new Voice Request
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="voiceRequests?.length === 0">
        <span jhiTranslate="text2Mp3App.voiceRequest.home.notFound">No voiceRequests found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="voiceRequests?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="voiceRequestText"><span jhiTranslate="text2Mp3App.voiceRequest.voiceRequestText">Voice Request Text</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="voiceRequestTextFormat"><span jhiTranslate="text2Mp3App.voiceRequest.voiceRequestTextFormat">Voice Request Text Format</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="validation"><span jhiTranslate="text2Mp3App.voiceRequest.validation">Validation</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="voiceStyle.id"><span jhiTranslate="text2Mp3App.voiceRequest.voiceStyle">Voice Style</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let voiceRequest of voiceRequests ;trackBy: trackId">
                    <td><a [routerLink]="['/voice-request', voiceRequest.id, 'view']">{{ voiceRequest.id }}</a></td>
                    <td>{{ voiceRequest.voiceRequestText }}</td>
                    <td>{{ voiceRequest.voiceRequestTextFormat }}</td>
                    <td>{{ voiceRequest.validation }}</td>
                    <td>
                        <div *ngIf="voiceRequest.voiceStyle">
                            <a [routerLink]="['/voice-style', voiceRequest.voiceStyle?.id, 'view']" >{{ voiceRequest.voiceStyle?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/voice-request', voiceRequest.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/voice-request', voiceRequest.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(voiceRequest)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="voiceRequests?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
