<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-voice-request-heading" jhiTranslate="text2Mp3App.voiceRequest.home.createOrEditLabel">Create or edit a Voice Request</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="text2Mp3App.voiceRequest.voiceRequestText" for="field_voiceRequestText">Voice Request Text</label>
                    <input type="text" class="form-control" name="voiceRequestText" id="field_voiceRequestText"
                           formControlName="voiceRequestText"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="text2Mp3App.voiceRequest.voiceRequestTextFormat" for="field_voiceRequestTextFormat">Voice Request Text Format</label>
                    <input type="text" class="form-control" name="voiceRequestTextFormat" id="field_voiceRequestTextFormat"
                           formControlName="voiceRequestTextFormat"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="text2Mp3App.voiceRequest.validation" for="field_validation">Validation</label>
                    <input type="checkbox" class="form-control" name="validation" id="field_validation"
                           formControlName="validation"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="text2Mp3App.voiceRequest.voiceStyle" for="field_voiceStyle">Voice Style</label>
                    <select class="form-control" id="field_voiceStyle" name="voiceStyle" formControlName="voiceStyle">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="voiceStyleOption.id === editForm.get('voiceStyle')!.value?.id ? editForm.get('voiceStyle')!.value : voiceStyleOption" *ngFor="let voiceStyleOption of voicestyles; trackBy: trackById">{{ voiceStyleOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label jhiTranslate="text2Mp3App.voiceRequest.translationLanguage" for="field_translationLanguages">Translation Language</label>
                    <select class="form-control" id="field_translationLanguages" multiple name="translationLanguages" formControlName="translationLanguages">
                        <option [ngValue]="getSelected(editForm.get('translationLanguages')!.value, languageOption)" *ngFor="let languageOption of languages; trackBy: trackById">{{ languageOption.languageCode }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
