<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="voiceRequest">
            <h2><span jhiTranslate="text2Mp3App.voiceRequest.detail.title">Voice Request</span> {{ voiceRequest.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="text2Mp3App.voiceRequest.voiceRequestText">Voice Request Text</span></dt>
                <dd>
                    <span>{{ voiceRequest.voiceRequestText }}</span>
                </dd>
                <dt><span jhiTranslate="text2Mp3App.voiceRequest.voiceRequestTextFormat">Voice Request Text Format</span></dt>
                <dd>
                    <span>{{ voiceRequest.voiceRequestTextFormat }}</span>
                </dd>
                <dt><span jhiTranslate="text2Mp3App.voiceRequest.validation">Validation</span></dt>
                <dd>
                    <span>{{ voiceRequest.validation }}</span>
                </dd>
                <dt><span jhiTranslate="text2Mp3App.voiceRequest.voiceStyle">Voice Style</span></dt>
                <dd>
                    <div *ngIf="voiceRequest.voiceStyle">
                        <a [routerLink]="['/voice-style', voiceRequest.voiceStyle?.id, 'view']">{{ voiceRequest.voiceStyle?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="text2Mp3App.voiceRequest.translationLanguage">Translation Language</span></dt>
                <dd>
                    <span *ngFor="let translationLanguage of voiceRequest.translationLanguages; let last = last">
                        <a [routerLink]="['/language', translationLanguage?.id, 'view']">{{ translationLanguage.languageCode }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/voice-request', voiceRequest.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
