<div>
    <h2 id="page-heading">
        <span jhiTranslate="text2Mp3App.voiceResponseAPI.home.title">Voice Response APIS</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-voice-response-api" [routerLink]="['/voice-response-api/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="text2Mp3App.voiceResponseAPI.home.createLabel">
            Create a new Voice Response API
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="voiceResponseAPIS?.length === 0">
        <span jhiTranslate="text2Mp3App.voiceResponseAPI.home.notFound">No voiceResponseAPIS found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="voiceResponseAPIS?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="mp3Path"><span jhiTranslate="text2Mp3App.voiceResponseAPI.mp3Path">Mp 3 Path</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="language"><span jhiTranslate="text2Mp3App.voiceResponseAPI.language">Language</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="text"><span jhiTranslate="text2Mp3App.voiceResponseAPI.text">Text</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="textPath"><span jhiTranslate="text2Mp3App.voiceResponseAPI.textPath">Text Path</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let voiceResponseAPI of voiceResponseAPIS ;trackBy: trackId">
                    <td><a [routerLink]="['/voice-response-api', voiceResponseAPI.id, 'view']">{{ voiceResponseAPI.id }}</a></td>
                    <td>{{ voiceResponseAPI.mp3Path }}</td>
                    <td>{{ voiceResponseAPI.language }}</td>
                    <td>{{ voiceResponseAPI.text }}</td>
                    <td>{{ voiceResponseAPI.textPath }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/voice-response-api', voiceResponseAPI.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/voice-response-api', voiceResponseAPI.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(voiceResponseAPI)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="voiceResponseAPIS?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
