<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="voiceResponseAPI">
            <h2><span jhiTranslate="text2Mp3App.voiceResponseAPI.detail.title">Voice Response API</span> {{ voiceResponseAPI.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="text2Mp3App.voiceResponseAPI.mp3Path">Mp 3 Path</span></dt>
                <dd>
                    <span>{{ voiceResponseAPI.mp3Path }}</span>
                </dd>
                <dt><span jhiTranslate="text2Mp3App.voiceResponseAPI.language">Language</span></dt>
                <dd>
                    <span>{{ voiceResponseAPI.language }}</span>
                </dd>
                <dt><span jhiTranslate="text2Mp3App.voiceResponseAPI.text">Text</span></dt>
                <dd>
                    <span>{{ voiceResponseAPI.text }}</span>
                </dd>
                <dt><span jhiTranslate="text2Mp3App.voiceResponseAPI.textPath">Text Path</span></dt>
                <dd>
                    <span>{{ voiceResponseAPI.textPath }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/voice-response-api', voiceResponseAPI.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
