<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-voice-response-api-heading" jhiTranslate="text2Mp3App.voiceResponseAPI.home.createOrEditLabel">Create or edit a Voice Response API</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="text2Mp3App.voiceResponseAPI.mp3Path" for="field_mp3Path">Mp 3 Path</label>
                    <input type="text" class="form-control" name="mp3Path" id="field_mp3Path"
                           formControlName="mp3Path"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="text2Mp3App.voiceResponseAPI.language" for="field_language">Language</label>
                    <input type="text" class="form-control" name="language" id="field_language"
                           formControlName="language"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="text2Mp3App.voiceResponseAPI.text" for="field_text">Text</label>
                    <input type="text" class="form-control" name="text" id="field_text"
                           formControlName="text"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="text2Mp3App.voiceResponseAPI.textPath" for="field_textPath">Text Path</label>
                    <input type="text" class="form-control" name="textPath" id="field_textPath"
                           formControlName="textPath"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
