<div class="row">
    <div class="col-md-9">
        <div class="audio-inputMedia mat-elevation-z4">
            <div class="card jh-card">
                <div class="" fxLayout="row" fxLayoutAlign="center center">
                    <h3>Type, Translate & Speak</h3>
                    <mat-card class="box">
                        <mat-card-content>
                            <form [formGroup]="voiceRequestForm" (ngSubmit)="onSubmit()" novalidate>
                                <mat-label>Please type or paste the speech you want to synthetize</mat-label> 
                                <mat-form-field class="text-textarea" appearance="outline">
                                    <textarea class="text-textarea" matInput formControlName="voiceRequestText" cdkTextareaAutosize cdkAutosizeMinRows="4" cdkAutosizeMaxRows="20" required></textarea>
                                    <mat-error *ngIf="hasError('voiceRequestText', 'required') && submitted">Input text is required</mat-error>
                                </mat-form-field>
                                <div class="row format-container">
                                    <mat-label>Format: </mat-label>
                                    <mat-radio-group class="format-radio-button" formControlName="voiceRequestTextFormat">
                                        <mat-radio-button value="text">text</mat-radio-button>
                                        <mat-radio-button value="html">html</mat-radio-button>
                                    </mat-radio-group>
                                </div>    
                                <div class="row">
                                    <div class="col-md-4" title="Please select the language of the text to be translated">
                                        Input Language <fa-icon [icon]="faLanguage"></fa-icon>
                                    </div>
                                    <div class="col-md-8">
                                        <mat-form-field class="" appearance="legacy">
                                            <mat-select placeholder="Choose a language..." #languageSelect [(value)]="selectedLanguage" (selectionChange)="onLanguageChange(languageSelect.value)">
                                            <mat-option *ngFor="let language of languages" [value]="language" >{{language.languageName}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>                               
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-4" title="Please select the type of voice used for speech creation">
                                        Voice <fa-icon [icon]="faRss"></fa-icon>
                                    </div>
                                    <div class="col-md-8">
                                        <mat-form-field class="voiceStyle-select" appearance="legacy">                             
                                            <mat-select formControlName="voiceStyle" #voiceSelect placeholder="Choose a voice style..."  [(ngModel)]="selectedVoice" required>
                                                <mat-option *ngFor="let voiceStyle of voiceStyles" [value]="voiceStyle" >{{voiceStyle.voiceStyleName}}-{{voiceStyle.voiceStyleGender}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="hasError('voiceStyle', 'required') && submitted">Voice style is mandatory</mat-error>
                                        </mat-form-field>
                                    </div>                                                       
                                </div>
                    
                                    <div class="row">
                                        <div class="col-md-4" title="Tick this option if your text needs to be translated">
                                            <input type="checkbox" (change)="onTranslationAtivation()" [value]="translated">
                                                Translation <fa-icon [icon]="faSignLanguage"></fa-icon>
                                        </div>
                                        <div class="col-md-8">                                      
                                        </div>                                                       
                                    </div>
                                <br>
                    
                                <div class="row" *ngIf="translated">
                                    <div class="col-md-4">
                                        From <mat-chip class="mat-chip-language">{{selectedTranslationLanguageName}}</mat-chip> to
                                    </div>
                                    <div class="col-md-8">
                                        <mat-chip-list formControlName="translationLanguages">
                                            <mat-chip class="mat-standard-chip mat-chip-language" *ngFor="let selectedTranslationLanguage of selectedTranslationLanguages" [value]="selectedTranslationLanguage" selectable="false">
                                                {{selectedTranslationLanguage.languageName}}
                                                <mat-icon class="mat-chip-remove" matChipRemove (click)="removeTranslationLanguage(selectedTranslationLanguage)">x</mat-icon>
                                            </mat-chip>
                                        </mat-chip-list>
                                        <mat-error *ngIf="hasError('translationLanguages', 'required') && submitted">Please choose at least one translation language</mat-error>
                                        <br>
                                        <mat-form-field class="" appearance="legacy">
                                            <mat-label>Add translation language: </mat-label>
                                            <mat-select placeholder="Add a language of translation..." #translationLanguageSelect [(value)]="selectedTranslationLanguage" (selectionChange)="addTranslationLanguage();">
                                                <mat-option *ngFor="let availableTranslationLanguage of availableTranslationLanguages" [value]="availableTranslationLanguage" >{{availableTranslationLanguage.languageName}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>       
                                    </div>                                                       
                                </div>
                                <div class="row" *ngIf="translated">
                                    <div class="col-md-12" title="Tick this option if you first want to validate the translation">
                                        <input type="checkbox" formControlName="validation">
                                        validate the translation before creating the voice file <fa-icon [icon]="faUserCheck"></fa-icon>
                                    </div>                           
                                </div>
                                
                                <br><br>
                                <div class="row">
                                    <div class="center">
                                        <button class="mat-button mat-focus-indicator mat-raised-button mat-button-base mat-primary gen-button" type="submit">                                
                                        <span>
                                            <fa-icon [icon]="faMicrophone"></fa-icon> Generate Audio
                                        </span>    
                                        </button>
                                        <button  mat-button type="reset" class="btn btn-secondary" (click)="revert()">    
                                        <span> <fa-icon [icon]="faUndo"></fa-icon> Revert</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="loading-indicator" *ngIf="loading">
                                    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
                                </div>                            
                            </form>
                            <div class="row" *ngIf="show && !translated">
                                <mat-card class="text-response">
                                    <mat-card-header>
                                      <div mat-card-avatar class="example-header-image"></div>
                                      <mat-card-title>Text to speech</mat-card-title>
                                      <mat-card-subtitle>in {{selectedLanguage.languageName}}</mat-card-subtitle>
                                    </mat-card-header>
                                    <mat-card-content>
                                        <mat-basic-audio-player audioUrl="{{mp3Path}}" title="Title" [autoPlay]="false" [displayTitle]="false" [displayVolumeControls]="false">
                                        </mat-basic-audio-player>
                                        <br> 
                                    </mat-card-content>
                                    <mat-card-actions>
                                      <button mat-button>
                                          <a href="{{mp3Path}}" download><fa-icon [icon]="faDownload"></fa-icon>Download voice</a>
                                    </button>
                                    </mat-card-actions>
                                </mat-card>
                            </div>
                    
                            <div class="row" *ngIf="show && translated">
                                <ng-container  *ngFor="let voiceResponse of voiceResponses">
                                    <mat-card class="text-response">
                                        <mat-card-header>
                                          <div mat-card-avatar class="example-header-image"></div>
                                          <mat-card-title>{{voiceResponse.language}}</mat-card-title>
                                          <mat-card-subtitle>translated from {{selectedLanguage.languageName}}</mat-card-subtitle>
                                        </mat-card-header>
                                        <mat-card-content>
                                            <mat-basic-audio-player audioUrl="{{voiceResponse.mp3Path}}" title="Title" [autoPlay]="false" [displayTitle]="false" [displayVolumeControls]="false">
                                            </mat-basic-audio-player>
                                            <br>
                                            Translated text: <i>{{voiceResponse.text}}</i>    
                                        </mat-card-content>
                                        <mat-card-actions>
                                          <button mat-button>
                                              <a href="{{voiceResponse.mp3Path}}" download><fa-icon [icon]="faDownload"></fa-icon>Download voice</a>
                                        </button>
                                          <button mat-button>
                                            <a href="{{voiceResponse.textPath}}" download><fa-icon [icon]="faDownload"></fa-icon>Download translated text</a>
                                          </button>
                                        </mat-card-actions>
                                      </mat-card>
                                      <br>
                                </ng-container>
                            </div>
                        </mat-card-content>    
                    </mat-card>  
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>        