.text-textarea
{
    width: 100%;
    margin-bottom: 8px;
}

// format
.format-container
{
  margin: auto;
  margin-bottom: 1rem;
}

.mat-radio-outer-circle 
{
  border-color: #673AB7 !important;
}

.mat-radio-inner-circle
{
  background-color: black !important;
}

.gen-button 
{
    background-color: #673AB7 !important;
}

.mat-chip-language
{
  background-color: black !important;
  color: white;
}

// array of translation results
.results-th
{
  text-align: center;
}

.results-tr
{
  padding: 37px 0;
  text-align: center;
}

.results-table
{
  width: 100%;
  background-color: #EDF1F2;
  border: solid 1px #DDEEEE;
  border-collapse: collapse;
  border-spacing: 0;
}

.results-table thead th 
{
  background-color: #673AB7;
  border: solid 1px #DDEEEE;
  color: white;
  padding: 10px;
  text-align: center;
  text-shadow: 1px 1px 1px #fff;
}
.results-table tbody td 
{
  border: solid 1px #DDEEEE;
  color: #333;
  padding: 10px;
  text-shadow: 1px 1px 1px #fff;
}

.center 
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

fa
{
    font-size: 20px !important;
}

.mat-tab-label 
{
  flex: 1 1 auto;
}

// CHIPS FOR TRANSLATION FORM
div.mat-chip-list-wrapper 
{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  
    .mat-chip {
      flex: 0 0 auto;
    }
}

.mat-chip-language
{
  background-color: black !important;
  color: white;
}

mat-icon
{
  color: white !important;
}

fa-icon
{
  color: black;
}

/* Absolute Center Spinner */
.loading-indicator {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading-indicator:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

.text-response
{
  margin-top: 2em;
  background-color: #F7F7F7;
}