<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="audioRequest">
            <h2><span jhiTranslate="text2Mp3App.audioRequest.detail.title">Audio Request</span> {{ audioRequest.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="text2Mp3App.audioRequest.audioFilePath">Audio File Path</span></dt>
                <dd>
                    <span>{{ audioRequest.audioFilePath }}</span>
                </dd>
                <dt><span jhiTranslate="text2Mp3App.audioRequest.validation">Validation</span></dt>
                <dd>
                    <span>{{ audioRequest.validation }}</span>
                </dd>
                <dt><span jhiTranslate="text2Mp3App.audioRequest.validationRecognition">Validation Recognition</span></dt>
                <dd>
                    <span>{{ audioRequest.validationRecognition }}</span>
                </dd>
                <dt><span jhiTranslate="text2Mp3App.audioRequest.recognitionText">Recognition Text</span></dt>
                <dd>
                    <span>{{ audioRequest.recognitionText }}</span>
                </dd>
                <dt><span jhiTranslate="text2Mp3App.audioRequest.audioTranslationLanguage">Audio Translation Language</span></dt>
                <dd>
                    <span *ngFor="let audioTranslationLanguage of audioRequest.audioTranslationLanguages; let last = last">
                        <a [routerLink]="['/language', audioTranslationLanguage?.id, 'view']">{{ audioTranslationLanguage.languageCode }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
                <dt><span jhiTranslate="text2Mp3App.audioRequest.language">Language</span></dt>
                <dd>
                    <div *ngIf="audioRequest.language">
                        <a [routerLink]="['/language', audioRequest.language?.id, 'view']">{{ audioRequest.language?.languageCode }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/audio-request', audioRequest.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
