<div>
    <h2 id="page-heading">
        <span jhiTranslate="text2Mp3App.audioRequest.home.title">Audio Requests</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-audio-request" [routerLink]="['/audio-request/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="text2Mp3App.audioRequest.home.createLabel">
            Create a new Audio Request
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="audioRequests?.length === 0">
        <span jhiTranslate="text2Mp3App.audioRequest.home.notFound">No audioRequests found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="audioRequests?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="text2Mp3App.audioRequest.audioFilePath">Audio File Path</span></th>
                    <th scope="col" ><span jhiTranslate="text2Mp3App.audioRequest.validation">Validation</span></th>
                    <th scope="col" ><span jhiTranslate="text2Mp3App.audioRequest.validationRecognition">Validation Recognition</span></th>
                    <th scope="col" ><span jhiTranslate="text2Mp3App.audioRequest.recognitionText">Recognition Text</span></th>
                    <th scope="col" ><span jhiTranslate="text2Mp3App.audioRequest.audioTranslationLanguage">Audio Translation Language</span></th>
                    <th scope="col" ><span jhiTranslate="text2Mp3App.audioRequest.language">Language</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let audioRequest of audioRequests ;trackBy: trackId">
                    <td><a [routerLink]="['/audio-request', audioRequest.id, 'view']">{{ audioRequest.id }}</a></td>
                    <td>{{ audioRequest.audioFilePath }}</td>
                    <td>{{ audioRequest.validation }}</td>
                    <td>{{ audioRequest.validationRecognition }}</td>
                    <td>{{ audioRequest.recognitionText }}</td>
                    <td>
                        <span *ngFor="let audioTranslationLanguage of audioRequest.audioTranslationLanguages; let last = last">
                            <a class="form-control-static" [routerLink]="['/language', audioTranslationLanguage?.id, 'view']">{{ audioTranslationLanguage.languageCode }}</a>{{ last ? '' : ', ' }}
                        </span>
                    </td>
                    <td>
                        <div *ngIf="audioRequest.language">
                            <a [routerLink]="['/language', audioRequest.language?.id, 'view']" >{{ audioRequest.language?.languageCode }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/audio-request', audioRequest.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/audio-request', audioRequest.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(audioRequest)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
