<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-audio-request-heading" jhiTranslate="text2Mp3App.audioRequest.home.createOrEditLabel">Create or edit a Audio Request</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="text2Mp3App.audioRequest.audioFilePath" for="field_audioFilePath">Audio File Path</label>
                    <input type="text" class="form-control" name="audioFilePath" id="field_audioFilePath"
                           formControlName="audioFilePath"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="text2Mp3App.audioRequest.validation" for="field_validation">Validation</label>
                    <input type="checkbox" class="form-control" name="validation" id="field_validation"
                           formControlName="validation"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="text2Mp3App.audioRequest.validationRecognition" for="field_validationRecognition">Validation Recognition</label>
                    <input type="checkbox" class="form-control" name="validationRecognition" id="field_validationRecognition"
                           formControlName="validationRecognition"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="text2Mp3App.audioRequest.recognitionText" for="field_recognitionText">Recognition Text</label>
                    <input type="text" class="form-control" name="recognitionText" id="field_recognitionText"
                           formControlName="recognitionText"/>
                </div>

                <div class="form-group">
                    <label jhiTranslate="text2Mp3App.audioRequest.audioTranslationLanguage" for="field_audioTranslationLanguages">Audio Translation Language</label>
                    <select class="form-control" id="field_audioTranslationLanguages" multiple name="audioTranslationLanguages" formControlName="audioTranslationLanguages">
                        <option [ngValue]="getSelected(editForm.get('audioTranslationLanguages')!.value, languageOption)" *ngFor="let languageOption of languages; trackBy: trackById">{{ languageOption.languageCode }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="text2Mp3App.audioRequest.language" for="field_language">Language</label>
                    <select class="form-control" id="field_language" name="language" formControlName="language">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="languageOption.id === editForm.get('language')!.value?.id ? editForm.get('language')!.value : languageOption" *ngFor="let languageOption of languages; trackBy: trackById">{{ languageOption.languageCode }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
