<div>
    <h2 id="page-heading">
        <span jhiTranslate="text2Mp3App.language.home.title">Languages</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-language" [routerLink]="['/language/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="text2Mp3App.language.home.createLabel">
            Create a new Language
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="languages?.length === 0">
        <span jhiTranslate="text2Mp3App.language.home.notFound">No languages found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="languages?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="languageName"><span jhiTranslate="text2Mp3App.language.languageName">Language Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="languageCode"><span jhiTranslate="text2Mp3App.language.languageCode">Language Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="translationLanguage.translationLanguageCode"><span jhiTranslate="text2Mp3App.language.translationLanguage">Translation Language</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let language of languages ;trackBy: trackId">
                    <td><a [routerLink]="['/language', language.id, 'view']">{{ language.id }}</a></td>
                    <td>{{ language.languageName }}</td>
                    <td>{{ language.languageCode }}</td>
                    <td>
                        <div *ngIf="language.translationLanguage">
                            <a [routerLink]="['/translation-language', language.translationLanguage?.id, 'view']" >{{ language.translationLanguage?.translationLanguageCode }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/language', language.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/language', language.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(language)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
