<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-language-heading" jhiTranslate="text2Mp3App.language.home.createOrEditLabel">Create or edit a Language</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="text2Mp3App.language.languageName" for="field_languageName">Language Name</label>
                    <input type="text" class="form-control" name="languageName" id="field_languageName"
                           formControlName="languageName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="text2Mp3App.language.languageCode" for="field_languageCode">Language Code</label>
                    <input type="text" class="form-control" name="languageCode" id="field_languageCode"
                           formControlName="languageCode"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="text2Mp3App.language.translationLanguage" for="field_translationLanguage">Translation Language</label>
                    <select class="form-control" id="field_translationLanguage" name="translationLanguage" formControlName="translationLanguage">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="translationLanguageOption.id === editForm.get('translationLanguage')!.value?.id ? editForm.get('translationLanguage')!.value : translationLanguageOption" *ngFor="let translationLanguageOption of translationlanguages; trackBy: trackById">{{ translationLanguageOption.translationLanguageCode }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
