<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="language">
            <h2><span jhiTranslate="text2Mp3App.language.detail.title">Language</span> {{ language.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="text2Mp3App.language.languageName">Language Name</span></dt>
                <dd>
                    <span>{{ language.languageName }}</span>
                </dd>
                <dt><span jhiTranslate="text2Mp3App.language.languageCode">Language Code</span></dt>
                <dd>
                    <span>{{ language.languageCode }}</span>
                </dd>
                <dt><span jhiTranslate="text2Mp3App.language.translationLanguage">Translation Language</span></dt>
                <dd>
                    <div *ngIf="language.translationLanguage">
                        <a [routerLink]="['/translation-language', language.translationLanguage?.id, 'view']">{{ language.translationLanguage?.translationLanguageCode }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/language', language.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
