<div class="row">
    <div class="col-md-9">
        <div class="audio-inputMedia mat-elevation-z4">
            <div class="card jh-card">
                <div class="" fxLayout="row" fxLayoutAlign="center center">
                    <h3>Translate voice</h3>
                    <mat-card class="box">
                        <mat-card-content>
                            <form [formGroup]="audioRequestForm" (ngSubmit)="onSubmit()" novalidate>
                            <div class="row">
                                <div class="col-md-4"  title="Choose how you want to generate the audio file. You can upload your own file or record the voice directly in your browser.">Audio mode <span><fa-icon [icon]="faVolumeUp"></fa-icon></span></div>
                                <div class="col-md-8 toogle-container">
                                    <mat-label class="audio-toogle-label">Record voice </mat-label> 
                                    <mat-slide-toggle class="audio-toogle" [color]="colorSlider" (change)="toogleAudioMode();"></mat-slide-toggle>
                                    <mat-label class="mat-slide-toggle-content"> Upload a file</mat-label>
                                </div>                      
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-8">
                                    <div class="audio-container">
                                        <div *ngIf="progress>=0" class="progress">
                                            <mat-progress-bar class="upload-progress" [value]="progress">
                                                {{ progress }}%
                                            </mat-progress-bar>
                                        </div>
                                        <div class="draganddrop" (drop)="onDrop($event);" [hidden]="!modeAudioFile">
                                            <div class="upload-btn-wrapper">
                                                <button class="mat-button upload-button" (click)="upload()" type="button">                                
                                                    <span><fa-icon [icon]="faUpload"></fa-icon></span>   Upload a file 
                                                </button>
                                                <input name="uploadInput" type="file" (change)="selectFile($event)" accept=".wav,.flac" />
                                            </div>                    
                                        </div> 
                                    </div>  
                                    <div class="record-container" [hidden]="!modeAudioRecord">
                                        <button mat-raised-button type="button" color="warn" id="startRecording" [disabled]="!startBtnEnabled" (click)="startRecorder()">RECORD</button>
                                        <button type="button" mat-raised-button id="stopRecording" [disabled]="!stopBtnEnabled" (click)="stopRecorder()">STOP</button>
                                        <img alt="Recording in progress" [hidden]="startBtnEnabled" class="recordingImg" src="/content/images/recording.gif" />                                     
                                    </div>                                 
                                </div>
                            </div> 
                           
                            <div class="row">
                                <div class="col-md-4" title="Here is the file you've loaded on our server.">
                                    <mat-label>Audio file selected for translation <span><fa-icon [icon]="faFileAudio"></fa-icon></span></mat-label>
                                </div>
                                <div class="col-md-8">
                                    <!-- path of the file selected (upload or record)-->
                                    <mat-form-field class="path-full-width">        
                                        <input id="audioFilePath" class="path-full-width" matInput readonly formControlName="audioFilePath" placeholder="{{pathPlaceHolder}}">
                                    </mat-form-field>
                                </div>                                                       
                            </div>
                            <div class="row" [hidden]="false">
                                <div class="col-md-4"></div>
                                <div class="col-md-8 player-container">
                                    <audio controls="" id="audio" src="{{ filePath }}"></audio> 
                                    <a id="download" class="audio-download-link" href="{{ filePath }}" [hidden]="filePath === ''">
                                        <fa-icon [icon]="faDownload"></fa-icon>  Download voice
                                    </a>
                                </div>    
                            </div>
        
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-8"  title="This option allows you to validate the text extracted from the voice before translation.">
                                    <input type="checkbox" formControlName="validationRecognition">
                                    validate the voice recognition <fa-icon [icon]="faUserCheck"></fa-icon>
                                </div>                           
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-4"  title="Choose here the language of the voice recorded.">
                                    Input language <fa-icon [icon]="faLanguage"></fa-icon>
                                </div>
                                <div class="col-md-8">
                                    <mat-form-field class="" appearance="legacy">
                                        <mat-select formControlName="language" placeholder="Choose a language..." #languageSelect [(value)]="audioInputLanguage" (selectionChange)="onLanguageChange(languageSelect.value)">
                                        <mat-option *ngFor="let language of languages" [value]="language" >{{language.languageName}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>                               
                            </div>
                            
                            <div class="row">
                                <div class="col-md-4" title="Please select one or more languages ​​into which to translate the recorded voice.">
                                    Translated to <fa-icon [icon]="faLanguage"></fa-icon>
                                </div>
                                <div class="col-md-8">
                                    <mat-chip-list formControlName="audioTranslationLanguages">
                                        <mat-chip class="mat-standard-chip mat-chip-language" *ngFor="let audioSelectedTranslationLanguage of audioSelectedTranslationLanguages" [value]="audioSelectedTranslationLanguage" selectable="false">
                                            {{audioSelectedTranslationLanguage.languageName}}
                                            <mat-icon class="mat-chip-remove" matChipRemove (click)="removeTranslationLanguage(audioSelectedTranslationLanguage)">x</mat-icon>
                                        </mat-chip>
                                    </mat-chip-list>
                                    <mat-error *ngIf="hasError('audioTranslationLanguages', 'required') && audioSubmitted">Please choose at least one translation language</mat-error>
                                    <br>
                                    <mat-form-field class="" appearance="legacy">
                                        <mat-label>Add translation language: </mat-label>
                                        <mat-select placeholder="Add a language of translation..." #translationLanguageSelect [(value)]="audioSelectedTranslationLanguage" (selectionChange)="addTranslationLanguage();">
                                            <mat-option *ngFor="let audioAvailableTranslationLanguage of audioAvailableTranslationLanguages" [value]="audioAvailableTranslationLanguage" >{{audioAvailableTranslationLanguage.languageName}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>       
                                </div>                                                       
                            </div>
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-8" title="This option allows you to validate the translations before generating the voices." >
                                    <input type="checkbox" formControlName="validation">
                                    validate the translation before creating the voice file <fa-icon [icon]="faUserCheck"></fa-icon>
                                </div>                           
                            </div>
                            
                            <br><br>
                            <div class="row">
                                <div class="center">
                                    <button class="mat-button mat-focus-indicator mat-raised-button mat-button-base mat-primary gen-button" type="submit">                                
                                    <span>
                                        <fa-icon [icon]="faMicrophone"></fa-icon> Generate Audio
                                    </span>    
                                    </button>
                                    <button mat-button type="reset" class="btn btn-secondary" (click)="audioRevert()">    
                                    <span> <fa-icon [icon]="faUndo"></fa-icon> Revert</span>
                                    </button>
                                </div>
                            </div>                            
                            <div class="loading-indicator" *ngIf="audioLoading">
                                <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
                            </div> 
                            </form> 
                            <div class="row" *ngIf="audioShow">
                                <ng-container  *ngFor="let audioResponse of audioResponses">
                                    <mat-card class="text-response">
                                        <mat-card-header>
                                          <div mat-card-avatar class="example-header-image"></div>
                                          <mat-card-title>{{audioResponse.language}}</mat-card-title>
                                          <mat-card-subtitle>translated from {{audioInputLanguage.languageName}}</mat-card-subtitle>
                                        </mat-card-header>
                                        <mat-card-content>
                                            <mat-basic-audio-player audioUrl="{{audioResponse.mp3Path}}" title="Title" [autoPlay]="false" [displayTitle]="false" [displayVolumeControls]="false">
                                            </mat-basic-audio-player>
                                            <br>
                                            Translated text: <i>{{audioResponse.text}}</i>    
                                        </mat-card-content>
                                        <mat-card-actions>
                                          <button mat-button>
                                              <a href="{{audioResponse.mp3Path}}" download><fa-icon [icon]="faDownload"></fa-icon>Download voice</a>
                                        </button>
                                          <button mat-button>
                                            <a href="{{audioResponse.textPath}}" download><fa-icon [icon]="faDownload"></fa-icon>Download translated text</a>
                                          </button>
                                        </mat-card-actions>
                                      </mat-card>
                                      <br>
                                </ng-container>
                                <div *ngIf="audioResponses?.length == 0">
                                    <p>
                                        <b>No voice detected. If you've uploaded the file, please check the file format (.wav WAV PCM 16 bits 16Khz mono). If you've recorded the file, please speak clearly and articulate.</b>
                                    </p>   
                                </div>
                            </div>
                        </mat-card-content>    
                    </mat-card>    
                </div>
            </div>
        </div>    

    </div>
    <div class="col-md-3"></div>
</div>    
