// AUDIO RECORDER
.toogle-container
{
  font-size: larger;
}
.audio-toogle
{
  vertical-align: top;
  display: inline-block;
  line-height: 24px;
}
.audio-toogle-label
{
  width: auto;
}

.audio-container 
{
  text-align: center;
  margin-bottom: 1em;
  margin-top: 1em;
}
.audio-file
{
  margin: 2em;
  margin-bottom: 1.9em;
}

// drag and drop area
.draganddrop
{
  border: dashed 1px #979797;
}

//bouton upload
.upload-btn-wrapper 
{
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin-top: 1em;
  width: 100%;
}

.upload-btn-wrapper input[type=file] 
{
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
}

.upload-button
{
  background-color: white;
  border-color: #673AB7;
  color: #673AB7;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
}

.record-container 
{
  margin-bottom: 3.1rem;
  // margin-bottom: 1em;
  margin-top: 1em;
}
.record-button
{
  padding: 8px 20px;
}

.player-container
{
  vertical-align: middle;
}
.audio-download-link
{
  display: inline-block;
  text-align: center;
  font-size: smaller;
  margin-bottom: 1.5rem;
  vertical-align: bottom;
  
}

.path-full-width
{
    width: 100%;
}

mat-chip 
{
  justify-content: space-between;
}

.mat-chip-language
{
  background-color: black !important;
  color: white !important;
}

.center 
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.gen-button 
{
    background-color: #673AB7 !important;
}

fa
{
    font-size: 20px !important;
}

fa-icon
{
  color: black;
}

// array of translation results
.results-th
{
  text-align: center;
}

.results-tr
{
  padding: 37px 0;
  text-align: center;
}

.results-table
{
  width: 100%;
  background-color: #EDF1F2;
  border: solid 1px #DDEEEE;
  border-collapse: collapse;
  border-spacing: 0;
}

.results-table thead th 
{
  background-color: #673AB7;
  border: solid 1px #DDEEEE;
  color: white;
  padding: 10px;
  text-align: center;
  text-shadow: 1px 1px 1px #fff;
}
.results-table tbody td 
{
  border: solid 1px #DDEEEE;
  color: #333;
  padding: 10px;
  text-shadow: 1px 1px 1px #fff;
}

/* Absolute Center Spinner */
.loading-indicator {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading-indicator:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

.text-response
{
  margin-top: 2em;
  background-color: #F7F7F7;
}

.recordingImg
{
  height: 36px;
}