<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="voiceStyle">
            <h2><span jhiTranslate="text2Mp3App.voiceStyle.detail.title">Voice Style</span> {{ voiceStyle.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="text2Mp3App.voiceStyle.voiceStyleName">Voice Style Name</span></dt>
                <dd>
                    <span>{{ voiceStyle.voiceStyleName }}</span>
                </dd>
                <dt><span jhiTranslate="text2Mp3App.voiceStyle.voiceStyleGender">Voice Style Gender</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'text2Mp3App.Gender.' + voiceStyle.voiceStyleGender }}">{{ voiceStyle.voiceStyleGender }}</span>
                </dd>
                <dt><span jhiTranslate="text2Mp3App.voiceStyle.language">Language</span></dt>
                <dd>
                    <div *ngIf="voiceStyle.language">
                        <a [routerLink]="['/language', voiceStyle.language?.id, 'view']">{{ voiceStyle.language?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/voice-style', voiceStyle.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
