<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-voice-style-heading" jhiTranslate="text2Mp3App.voiceStyle.home.createOrEditLabel">Create or edit a Voice Style</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="text2Mp3App.voiceStyle.voiceStyleName" for="field_voiceStyleName">Voice Style Name</label>
                    <input type="text" class="form-control" name="voiceStyleName" id="field_voiceStyleName"
                           formControlName="voiceStyleName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="text2Mp3App.voiceStyle.voiceStyleGender" for="field_voiceStyleGender">Voice Style Gender</label>
                    <select class="form-control" name="voiceStyleGender" formControlName="voiceStyleGender" id="field_voiceStyleGender">
                        <option value="MALE">{{ 'text2Mp3App.Gender.MALE' | translate }}</option>
                        <option value="FEMALE">{{ 'text2Mp3App.Gender.FEMALE' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="text2Mp3App.voiceStyle.language" for="field_language">Language</label>
                    <select class="form-control" id="field_language" name="language" formControlName="language">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="languageOption.id === editForm.get('language')!.value?.id ? editForm.get('language')!.value : languageOption" *ngFor="let languageOption of languages; trackBy: trackById">{{ languageOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
