<div>
    <h2 id="page-heading">
        <span jhiTranslate="text2Mp3App.voiceStyle.home.title">Voice Styles</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-voice-style" [routerLink]="['/voice-style/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="text2Mp3App.voiceStyle.home.createLabel">
            Create a new Voice Style
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="voiceStyles?.length === 0">
        <span jhiTranslate="text2Mp3App.voiceStyle.home.notFound">No voiceStyles found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="voiceStyles?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="voiceStyleName"><span jhiTranslate="text2Mp3App.voiceStyle.voiceStyleName">Voice Style Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="voiceStyleGender"><span jhiTranslate="text2Mp3App.voiceStyle.voiceStyleGender">Voice Style Gender</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="language.id"><span jhiTranslate="text2Mp3App.voiceStyle.language">Language</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let voiceStyle of voiceStyles ;trackBy: trackId">
                    <td><a [routerLink]="['/voice-style', voiceStyle.id, 'view']">{{ voiceStyle.id }}</a></td>
                    <td>{{ voiceStyle.voiceStyleName }}</td>
                    <td jhiTranslate="{{ 'text2Mp3App.Gender.' + voiceStyle.voiceStyleGender }}">{{ voiceStyle.voiceStyleGender }}</td>
                    <td>
                        <div *ngIf="voiceStyle.language">
                            <a [routerLink]="['/language', voiceStyle.language?.id, 'view']" >{{ voiceStyle.language?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/voice-style', voiceStyle.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/voice-style', voiceStyle.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(voiceStyle)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
