<div class="row">
    <div class="col-md-9">
        <div class="audio-inputMedia mat-elevation-z4">
            <div class="card jh-card">
                <div class="" fxLayout="row" fxLayoutAlign="center center">
                    <h3>About Babel2go</h3>
                    <mat-card class="box">
                        <mat-card-content>
                            <p>Babel2go is a free tool that allows you to use advanced translation features.</p>
                        </mat-card-content>    
                    </mat-card>    
                </div>
            </div>
        </div>    

    </div>
    <div class="col-md-3"></div>
</div>    

