<h1 mat-dialog-title class="dialogTitle"><span class="logo-img"><img alt="Please validate the recognized text" src="/content/images/LogoBabel2go_small.png" /></span> Recognition validation</h1>
<form [formGroup]="validationForm" novalidate></form>
<mat-dialog-content>
  <div *ngIf="speechDetected">
    <mat-card *ngIf="speechDetected">
      <mat-card-title>INPUT</mat-card-title>
      <p><strong>Input language </strong><fa-icon [icon]="faLanguage"></fa-icon> <mat-chip class="mat-standard-chip mat-chip-language">{{inputLanguageName}}</mat-chip></p> 
      <p><strong>Recognition text suggested </strong><fa-icon [icon]="faRss"></fa-icon> (please modify if needed and validate)</p> 
      <p>    
        <mat-form-field class="full-width" appearance="outline">
          <textarea class="text-textarea" [(ngModel)]="recognitionText" matInput>
            {{recognitionText}}
          </textarea>
        </mat-form-field>
    </mat-card>
  </div>  
  <div *ngIf="!speechDetected">
    <mat-card >
      <mat-card-title>No able to extract voice</mat-card-title>
        <p>
          <strong>No speech has been detected from the audio file. If you've uploaded the file, please check your file format is supported.</strong> 
        </p> 
        <p>  
          <ul>Supported formats :
            <li>WAV 16 bits 16Khz mono only</li>
            <li>FLAC 16 or 24 bits 44.1Khz mono only</li>
            <li>MP3 not supported</li>
            <li>OGG not supported</li>
          </ul>
        </p>
        <p>
          If you don't have this type of file, you can use Audacity to record or convert an audio file. FLAC format provides the best results for speech recognition.
          Audacity is free and <a target="_blank" rel="noopener noreferrer" href="https://www.audacityteam.org/">available here.</a>
        </p> 
        <p>
          If you've recorded the file, 
        </p>    
    </mat-card>
  </div> 
</mat-dialog-content>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button *ngIf="speechDetected" class="dialogValidate" mat-button (click)="onSubmit()" cdkFocusInitial>Validate</button>
</div>
</form>