<div>
    <h2 id="page-heading">
        <span jhiTranslate="text2Mp3App.audioResponseAPI.home.title">Audio Response APIS</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-audio-response-api" [routerLink]="['/audio-response-api/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="text2Mp3App.audioResponseAPI.home.createLabel">
            Create a new Audio Response API
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="audioResponseAPIS?.length === 0">
        <span jhiTranslate="text2Mp3App.audioResponseAPI.home.notFound">No audioResponseAPIS found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="audioResponseAPIS?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="text2Mp3App.audioResponseAPI.filePath">File Path</span></th>
                    <th scope="col" ><span jhiTranslate="text2Mp3App.audioResponseAPI.text">Text</span></th>
                    <th scope="col" ><span jhiTranslate="text2Mp3App.audioResponseAPI.textPath">Text Path</span></th>
                    <th scope="col" ><span jhiTranslate="text2Mp3App.audioResponseAPI.language">Language</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let audioResponseAPI of audioResponseAPIS ;trackBy: trackId">
                    <td><a [routerLink]="['/audio-response-api', audioResponseAPI.id, 'view']">{{ audioResponseAPI.id }}</a></td>
                    <td>{{ audioResponseAPI.filePath }}</td>
                    <td>{{ audioResponseAPI.text }}</td>
                    <td>{{ audioResponseAPI.textPath }}</td>
                    <td>{{ audioResponseAPI.language }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/audio-response-api', audioResponseAPI.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/audio-response-api', audioResponseAPI.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(audioResponseAPI)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
