<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="audioResponseAPI">
            <h2><span jhiTranslate="text2Mp3App.audioResponseAPI.detail.title">Audio Response API</span> {{ audioResponseAPI.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="text2Mp3App.audioResponseAPI.filePath">File Path</span></dt>
                <dd>
                    <span>{{ audioResponseAPI.filePath }}</span>
                </dd>
                <dt><span jhiTranslate="text2Mp3App.audioResponseAPI.text">Text</span></dt>
                <dd>
                    <span>{{ audioResponseAPI.text }}</span>
                </dd>
                <dt><span jhiTranslate="text2Mp3App.audioResponseAPI.textPath">Text Path</span></dt>
                <dd>
                    <span>{{ audioResponseAPI.textPath }}</span>
                </dd>
                <dt><span jhiTranslate="text2Mp3App.audioResponseAPI.language">Language</span></dt>
                <dd>
                    <span>{{ audioResponseAPI.language }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/audio-response-api', audioResponseAPI.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
