<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-translation-language-heading" jhiTranslate="text2Mp3App.translationLanguage.home.createOrEditLabel">Create or edit a Translation Language</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="text2Mp3App.translationLanguage.translationLanguageName" for="field_translationLanguageName">Translation Language Name</label>
                    <input type="text" class="form-control" name="translationLanguageName" id="field_translationLanguageName"
                           formControlName="translationLanguageName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="text2Mp3App.translationLanguage.translationLanguageCode" for="field_translationLanguageCode">Translation Language Code</label>
                    <input type="text" class="form-control" name="translationLanguageCode" id="field_translationLanguageCode"
                           formControlName="translationLanguageCode"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
