<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="translationLanguage">
            <h2><span jhiTranslate="text2Mp3App.translationLanguage.detail.title">Translation Language</span> {{ translationLanguage.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="text2Mp3App.translationLanguage.translationLanguageName">Translation Language Name</span></dt>
                <dd>
                    <span>{{ translationLanguage.translationLanguageName }}</span>
                </dd>
                <dt><span jhiTranslate="text2Mp3App.translationLanguage.translationLanguageCode">Translation Language Code</span></dt>
                <dd>
                    <span>{{ translationLanguage.translationLanguageCode }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/translation-language', translationLanguage.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
