<div>
    <h2 id="page-heading">
        <span jhiTranslate="text2Mp3App.translationLanguage.home.title">Translation Languages</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-translation-language" [routerLink]="['/translation-language/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="text2Mp3App.translationLanguage.home.createLabel">
            Create a new Translation Language
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="translationLanguages?.length === 0">
        <span jhiTranslate="text2Mp3App.translationLanguage.home.notFound">No translationLanguages found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="translationLanguages?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="text2Mp3App.translationLanguage.translationLanguageName">Translation Language Name</span></th>
                    <th scope="col" ><span jhiTranslate="text2Mp3App.translationLanguage.translationLanguageCode">Translation Language Code</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let translationLanguage of translationLanguages ;trackBy: trackId">
                    <td><a [routerLink]="['/translation-language', translationLanguage.id, 'view']">{{ translationLanguage.id }}</a></td>
                    <td>{{ translationLanguage.translationLanguageName }}</td>
                    <td>{{ translationLanguage.translationLanguageCode }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/translation-language', translationLanguage.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/translation-language', translationLanguage.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(translationLanguage)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
